.queryDrop{
    
        padding: 8px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: white;
        color: #333;
        cursor: pointer;
        width: 100%;
        max-width: 300px;

}
.queryDrop option {
    padding: 10px;
    background-color: #f5f5f5;
    color: #333;
  }