.header{
  background-color: rgb(226, 226, 226);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left{
  flex-basis: 50%;
  display: flex;
  justify-content: space-evenly;
}
.left label{
  color: rgb(76, 76, 76);
  font-size:1.6em;
}
.logo{
  margin-bottom: -4px;
  margin-right: 4px;
  height: 30px;
}
.homeDiv {
  display: flex;
  margin: 10px;
}
