.tableHolder{
    border: 1px solid rgb(205, 205, 205);
    margin-left: 10px;
    align-items: center;
    height: 85vh;
    width: 100rem;
    min-width: 20rem;
    transition-duration: 600;
}
.tableHeader{
    display: flex;
    justify-content: space-between;
    padding: 0 3px;
}
.tableName{
    font-size: 2em;
}
.tableDiv{
    overflow: auto;
    display: flex;
    width: 100%;
    max-height: 94%;
}