.queryInputHolder {
  height: fit-content;
  width: fit-content;
}
.queryInput {
  border: solid;
  padding: 0px 5px;
  width: 40rem;
  min-width: 20rem;
  max-width: 70rem;
  height: 85vh;
  resize: horizontal;
  min-height: 1em;
  outline: none;
  font-size: 2em;
}
